body {
    background: rgb(39, 13, 168);
    font: normal 16pt 'Ubuntu';
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.553);
}

div {
    text-align: center;
    padding: 6px;
    text-align: center;
}

div#res {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

input {
    border-radius: 6px;
    padding: 6px;
    background: rgb(171, 172, 173);
    border: rgb(50, 47, 47);
}

input#button {
    background: rgb(53, 53, 228);
    color: white;
    font-weight: 600;
    border: none;
    width: 20%;
}

img {
    width: 250px;
    height: 240px;
    border-radius: 50%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}